.home-title {
    font-size: 3.5rem;
    margin-top: 5rem;
    letter-spacing: 1rem;
}

.login-wrapper {
    margin: 50px auto;
    width: 600px;
}

.login-wrapper .signup-btn {
    cursor: pointer;
    color: rgb(19, 19, 19);
    padding: 1rem;
}

.login-wrapper .signup-btn:hover {
    text-decoration: underline;
    
}

.input-group {
    margin-top: 1.5rem;
}

.login-wrapper h4 {
    font-size:2rem;
    letter-spacing:3px;
}
