#price-filter-label-min {
    flex-basis: 50%;
}

.product-list-title {
    font-size: 3rem;
    margin: 40px 0;
    font-weight: normal;
}

.product-list-sidebar {
    margin-right: 100px;
    flex-basis: 20%;
}
.product-img{
    height:400px;

}
img {
    max-width: 100%;
    max-height: 100%;
}


.product-list-sidebar a {
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
    color: black;
    border-bottom: 1px solid var(--light-blue);
    background-color: var(--sky-blue);
}

.product-list-sidebar a:last-child {
    border-bottom: none;
}

#categoryList {
    margin-bottom: 1rem;
}

.product-list-sidebar a:hover {
    background-color: var(--dark-sky-blue);
    font-weight: bold;
}

.sidebar-title {
    margin-bottom: 0.5rem;
}

.sidebar-search {
    margin-bottom: 1rem;
}

.clear-filter {
    margin-top: 1rem;
}

.price-filter .price-filter-select > div {
    margin-bottom: 1rem;
}

.product-list-box {
    /* add any styles needed for this class */
    flex-basis:80%;
}

.prodcut-list-box .product-item {
    width: 30%;
    margin-right: 2%;
    margin-bottom: 30px;
    box-shadow: 0px 1px 5px 0px var(--light-gray);
    padding: 0.5rem;
}

.prodcut-list-box .product-item .product-img{
    max-width: 100%;

    
}
.prodcut-list-box .product-item .product-name {
    
    font-size:1.2rem;
    padding:0.75rem;
    
    color:black;
    

}
.prodcut-list-box .product-item .product-price{
    padding-bottom: 10px;
    
    color:var(--jean-blue);
}
.prodcut-list-box .product-item :nth-child(3n){
    margin-right:0;
}
.prodcut-list-box .product-item :hover{
    box-shadow: 0px 1px 5px 0px var(--mid-gray);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

